<template name="accessDenied">
    <div class="error">
        <div class="headerImage">
            <div class="titleCover">
                <div class="type">{{type}}</div>
                <div class="typedesc">{{typedesc}}</div>
            </div>
        </div>
        <div class=" text-center">
            <h1>ERREUR</h1>
            <div class="code">
                401
            </div>
            <h2>Vous devez vous connecter pour accéder à cette section</h2>
        </div>
    </div>
</template>