<head>
    <title>Binaries Blog</title>
    <link rel="preload" href="../images/red.png" as="image">
    <link rel="preload" href="../images/blue.jng" as="image">
    <link rel="preload" href="../images/purple.jng" as="image">
    <link rel="preload" href="../images/green.jpg" as="image">
    <meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Your Website Title" />
    <meta property="og:description"   content="Your description" />
    <meta property="og:image"         content="https://www.your-domain.com/path/image.jpg" />
</head>
